body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background: url('roller(0).png') no-repeat center center fixed, rgb(207, 239, 250); /* Initial frame is 25 */
    background-size: cover; /* Cover the entire container */
    font-family: 'Arial Rounded MT Bold', sans-serif;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}


#logo {
    position: fixed;
    top: 20px;
    right: 150px;
    width: 100px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#apparatus-container {
    text-align: center;
    position: relative;
}

#apparatus-img {
    width: 60px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

#center-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#counter-container {
    position: relative;
    z-index: 1;
}

#click-counter {
    position: relative;
    margin-top: -50px; /* Adjust this value to position the counter above the image */
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 6em; /* Increased font size */
    z-index: 1;
    width: 200px; /* Adjust this value to accommodate the maximum number of digits */
    text-align: center; /* Center the text within the fixed width */
    
}
.shake {
    animation: shake 0.3s;
}
@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    20% { transform: translate(-50%, -50%) rotate(-10deg); }
    40% { transform: translate(-50%, -50%) rotate(10deg); }
    60% { transform: translate(-50%, -50%) rotate(-10deg); }
    80% { transform: translate(-50%, -50%) rotate(10deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

.circle-button {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    cursor: pointer;
    bottom: 30px;
    background-size: cover;
    transform: translateY(-50%);
    border: 2px solid black;
}
.circle-button:active {
    filter: brightness(80%);
}
.button-pressed {
    filter: brightness(80%);
}

#left-button {
    background-image: url('arrow-button-left.png'); /* Replace with the path to your image */
    position: fixed;
    left: 18%;
}

#right-button {
    background-image: url('arrow-button-right.png'); /* Replace with the path to your image */
    position: fixed;
    right: 18%;
}

#progress-bar {
    position: fixed;
    background: linear-gradient(to bottom, #c4c1c1, #504f4f);
    left: 0; /* Adjust as needed */
    top: 0;
    bottom: 0;
    margin: 20px; /* Add space around the bar */
    top: 80px;
    width: 80px; /* Adjust as needed */
    background-color: #ccc;
    display: flex;
    align-items: flex-end;
    float: left;
    border-radius: 10px;
    border: 2px solid black;
}
.progress-bar-striped {
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 40px 40px;
    border-radius: 20px;
}

.progress-bar.active {
    animation: progress-bar-stripes 2s linear infinite;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
#progress-fill {
    background-color: #e5ff0093; /* Color of the fill */
    width: 100%; /* Fill the entire width of the progress bar */
    height: 0; /* Initial height is 0 */
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    -webkit-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    transition: height 0.2s ease;
    border-radius: 10px;
}
.smallshake {
    animation: smallshake 0.1s;
}

@keyframes smallshake {
    0% { transform: translate(1%) rotate(0deg); }
    10% { transform: translate(-1%) rotate(-1deg); }
    20% { transform: translate(-1%) rotate(1deg); }
    30% { transform: translate(1%) rotate(0deg); }
    40% { transform: translate(1%) rotate(1deg); }
    50% { transform: translate(-1%) rotate(-1deg); }
    60% { transform: translate(-1%) rotate(0deg); }
    70% { transform: translate(1%) rotate(-1deg); }
    80% { transform: translate(-1%) rotate(1deg); }
    90% { transform: translate(1%) rotate(0deg); }
    100% { transform: translate(1%) rotate(-1deg); }
}


#slider-bar {
    position: fixed;
    background: linear-gradient(to bottom, #c4c1c1, #504f4f);
    top: 0;
    bottom: 0;
    right: 0;
    margin: 20px; /* Add space around the bar */
    top: 80px;
    width: 80px; /* Adjust as needed */
    background-color: #ccc;
    display: flex;
    align-items: flex-end;
    float: left;
    border-radius: 10px;
    border: 2px solid black;

}

#slider-fill {
    background-color: #ff00009d; /* Color of the fill */
    width: 100%; /* Fill the entire width of the progress bar */
    height: 0; /* Initial height is 0 */
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

#leaderboard {
    position: fixed;
    bottom: 0;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 75vh;
    max-height: 46px; /* Adjust as needed */
    transition: max-height 0.3s ease-in-out;
    background-color: #f8f9fa; /* Adjust as needed */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    border: 2px solid black;
}
#leaderboard.expanded {
    max-height: 75vh;
    overflow-y: auto;
}
.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

#top-country {
    /* Styles for the top country details */
}

#all-countries {

    /* Styles for all countries details */
}
